
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">
    <style>
        *{
              font-family: 'Sarabun', sans-serif;
        }
       #container{
           width:100%;
           height:90vh;
       }
       body{
          
           background:#fafaf5;
       }
       .img{
        margin-top:20vh;
       }
    </style>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
    <div id="loading">
        <center>
            <img src="/images/loading.gif" class="img"></img>
        </center>
    </div>
    <div class="col-sm-12" id="done">
        <div class="card">
          
            <div class="card-body">
                <div class="row">
                        <div class="col-sm-12">
                                <h4 class="card-title mb-0" id="title"></h4>
                                <div class="small text-muted">Temperature(C)</div>
                        </div>
                </div>
                    
                <div class="row">
                        <div id="container"></div>
                </div>
            </div>
        </div>
    </div>
    
    <script>

       $(function(){
        $("#done").hide();
        $.ajax({
            url: '/api/getBlackbox_data',
            type: "POST",
            data: {
                blackbox_id: "<%=blackbox_id%>",
                start_date: "<%=start_date%>",
                end_date: "<%=end_date%>"
            },
            success: function (data) {
                $("#done").show();

                $("#loading").hide();
                if(data.data.length==0){
                    $("#title").html('ไม่มีข้อมูล');
                    $(".small").html('');
		        }else{
                 $("#title").html("เลขข้างรถ : "+data.TRUCK_NAME+" ,  ทะเบียนรถ : "+data.TRUCK_LICENSE);
   
                Highcharts.stockChart('container', {
                    chart: {
                        zoomType: "x",
                        backgroundColor: "",

                    },

                    xAxis: {
                        type: "datetime",
                        title: {
                            text: "Date"
                        }
                    },
                    yAxis: {
                        title: {
                            text: "อุณหภูมิ(C) / "+data.TEMPERATURE_COL
                        },
                        gridLineDashStyle: 'longdash',
                    },
                    legend: {
                        enabled: true,
                        itemStyle: { 'color': '#1e88e5' }
                    },

                    plotOptions: {
                        area: {

                            marker: {
                                radius: 2
                            },
                            lineWidth: 1,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            threshold: null
                        }
                    },

                    series: [{ name: "อุณหภูมิ (C) / "+data.TEMPERATURE_COL, data: data.data,type: 'spline', }],
                    credits: {
                        enabled: false
                    }
                });
		}
            }
        });
})
    </script>
</body>

</html>